.clock {
    padding: 1rem;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 1);
    margin-top:    22rem;
    margin-bottom: 25rem;
    margin-right:  68rem;
    margin-left:   -23rem;
    border-radius: 4rem;

}

.time {
    font-family: Quicksand Medium;
    color: rgba(0, 0, 0, 1);
    font-size:     2rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-left:   0rem;
    margin-right:  0rem;
    border-radius: 0rem;
}

.symbol {
    color: rgba(0, 0, 0, 1);
    font-size:     2rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-left:   1rem;
    margin-right:  0rem;
    border-radius: 0rem;
}
