.day {
    margin-top:    10rem;
    margin-right:  0rem;
    margin-left:   -81rem;
    margin-bottom: 0rem;

}

.day_label {
    font-family: Quicksand Medium;
    color: #A69D8E;
    font-size: 4.9rem;
}