.month-date-box {
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   -1rem;
    border-radius: 0rem;

} 

.month-date {
    font-family: Quicksand Medium;
    color: #ffffff;
    font-size:     3.4rem;
    margin-top:    21rem;
    margin-bottom: 0rem;
    margin-left:   -144rem;
    margin-right:  0rem;
    border-radius: 0rem;
    
}
