.musicinfo {
    margin-top:     37rem;
    margin-bottom:  0rem;
    margin-left:    -80rem;
    margin-right:   50rem;
}

.info {
  color: #d79921;
  font-size: 1.45rem;
  margin-top:     0rem;
  margin-bottom:  8rem;
  margin-left:    1rem;
  margin-right:   0rem;
}

.musicname {
    color: #689d6a;
    font-size: 1.2rem;
    margin-top:     -4rem;
    margin-bottom:  0rem;
    margin-left:    -10rem;
    margin-right:   0rem;
}

.musicsinger {
    color: #458588;
    font-size: 1rem;
    margin-top:     0rem;
    margin-bottom:  0rem;
    margin-left:    -10rem;
    margin-right:   0rem;
}
