.music {
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(36, 36, 36, 1);
}

.music-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 6rem;
    min-width: 6rem;
    border-radius: 1rem;
}

.music-text {
    margin-left: 1rem;
}

.music-title {
    color: #689d6a;
    font-size: 1.2rem;
}

.music-artist {
    color: #458588;
}

.music-name {
    background-color: #ebdbb3;
    color: #32302f;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.music-action {
    font-size: 2rem;
    min-width: 3rem;
}

.music-scale {
    margin-top: 1rem;
}

.music-scale trough {
    background-color: #4f434a;
    border-radius: 1rem;
    min-height: 0.5rem;
}


.music-scale highlight {
    background-color: #ebdbb3;
    border-radius: 1rem;
    min-height: 0.5rem;
}

.music-strtime {
    color: #d2c3ca;
    margin-top: 0.25rem;
}