.profile {
    margin-top:     1rem;
    margin-bottom:  10rem;
    margin-left:    1rem;
    margin-right:   -1rem;
}

.face {
	background-size: 70px;
	min-height: 70px;
	min-width: 70px;
	margin:0px 225px 0px 0px;
	border-radius: 100%;
}

.name {
	color: #ebdbb2;
	font-size : 30px;
	font-weight : bold;
        margin-top:     -8rem;
        margin-bottom:  0rem;
        margin-left:    8rem;
        margin-right:   0rem;
}

.line {
	color: #689d6a;
	font-size : 12px;
	font-weight : bold;
        margin-top:     -6rem;
        margin-bottom:  0rem;
        margin-left:    3.5rem;
        margin-right:   0rem;
}

.greetings {
	color: #458588;
	font-size : 17px;
	font-weight : bold;
        margin-top:     -5rem;
        margin-bottom:  0rem;
        margin-left:    3.8rem;
        margin-right:   0rem;
}