.toggleicon {
    background-repeat: no-repeat;
	background-size: 35px;
	min-height: 35px;
	min-width: 35px;
        margin-top:    16px;
        margin-right:  30px;
        margin-left:   6px;
        margin-bottom: 0px;
}

