.weather {
    @include window;
    border-radius: 0rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   0rem;
}

.weather-icon {
    color: #02aab0;
    font-size: 3rem;
    margin-left: 1rem;
}

.weather-temp {
    color: $primary;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.weather-error {
    font-size: 1.2rem;
}