.appbox {
  margin-top:    45rem;
  margin-right:  0rem;
  margin-left:   5rem;
  margin-bottom: 0rem;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 50px;
	min-height: 50px;
	min-width: 50px;
	margin: 11px 15px 4px 5px;
}


