.clock {
    padding: 1rem;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(246, 227, 221, 1);
    margin-top:    0rem;
    margin-bottom: 17rem;
    margin-right:  0rem;
    margin-left:   8rem;
    border-radius: 12rem;

}

.time {
    font-family: Quicksand Medium;
    color: rgba(136, 46, 59, 1);
    font-size:     2rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-left:   0rem;
    margin-right:  0rem;
    border-radius: 0rem;
}

.symbol {
    color: rgba(136, 46, 59, 1);
    font-size:     3rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-left:   1rem;
    margin-right:  0rem;
    border-radius: 0rem;
}