.control-center {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(36, 41, 50, .4);
}


.controlcenter {
    background-image: url("control_center_icons/weather.png");
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: center;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(36, 41, 50, .4);
}