.wifi_icon {
        background-repeat: no-repeat;
	background-size: 180px;
	min-height: 100px;
	min-width: 180px;
        margin-top:    4px;
        margin-right:  0px;
        margin-left:   0px;
        margin-bottom: 0px;
}

.bluetooth_icon {
        background-repeat: no-repeat;
	background-size: 180px;
	min-height: 100px;
	min-width: 180px;
        margin-top:    -90px;
        margin-right:  0px;
        margin-left:   0px;
        margin-bottom: 0px;
}

.others_icon {
        background-repeat: no-repeat;
        background-size: 350px;
        min-height:    0px;
        min-width:     0px;
        margin-top:    14px;
        margin-right:  0px;
        margin-left:   -177px;
        margin-bottom: 0px;
}