.day {
    border-radius: 0rem;
    margin-top:    0rem;
    margin-right:  0rem;
    margin-left:   -12.5rem;
    margin-bottom: 0rem;
}

.day-label {
    font-family: Quicksand;
    color: rgba(246, 227, 221, 1);
    font-size: 6rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 5rem;
    border-radius: 0rem;
}