.month-date {
    border-radius: 0rem;
    margin-top:    9.7rem;
    margin-right:  0rem;
    margin-left:   -28rem;
    margin-bottom: 0rem;
}

.month-label {
    font-family: Quicksand Medium;
    color: rgba(246, 230, 228, 1);
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 5rem;
    border-radius: 0rem;
} 

.date-label {
    font-family: Quicksand Medium;
    color: rgba(136, 46, 59, 1);
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: -5rem;
    margin-right: 0rem;
    border-radius: 0rem;
} 