.musicbox {
 background-color: rgba(100, 114, 125, 0.5);
  box-shadow: 0 0 4px 2px #000000;
  min-width: 0px;
  min-height: 0px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 10px;
}


.musicart {
  min-width: 200px;
  min-height: 200px;
  margin-top: 0px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 0px;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: unset;
}

.musictitle{
  margin-top: 90px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 0px;
  font-size:15px;
  font-weight: 600;
}

.musiccontrols {
  margin-top: 20px;
  margin-left: -112px;
  min-width: 130px;
  padding: 0px 0px;
  border-radius: 20px;
}
.musicbutton {
  margin-left: 0px;
  margin-top: 10px;
  font-size: 20px;
}

.musicscale scale trough highlight {
  all: unset;
  background-color: #d6d6d6;
  color: white;
  border-radius: 10px;
  min-width: 10px;
}
.musicscale scale trough {
  all: unset;
  background-color: rgba(30, 30, 45, .45); 
  border-radius: 50px;
  min-height: 10px;
  min-width: 140px;
}