.quick_settings_box {
        margin-top:    0px;
        margin-right:  0px;
        margin-left:   0px;
        margin-bottom: 0px;
}

.quick-settings-icon {
    font-size: 0rem;
}

.quick-settings-info {
    margin-bottom: 4.7rem;
    margin-left: 4.5rem;
    font-size: 1rem;
    color: #f6e3dd;
}

.quick-settings-state {
    font-size: 0rem;
}

.quick-setting-state {
    margin-bottom:12.5rem;
    margin-left: 5.5rem;
    font-size: 1rem;
    color: #000000;
}

.quick-info {
    font-size: 0rem;
}