* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 10px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

tooltip {
    background: @tool-bg;
    color: @tool-color;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#window {
   background: #b16286;
   border-radius: 10px;
   border: 3px solid #000000;
   margin: 4px 2px;
   padding: 4px 4px;
   color: #2e3440; 
}

#cpu {
   background: #5e81ac;
   border-radius: 10px;
   border: 3px solid #000000;
   margin: 4px 2px;
   padding: 4px 4px;
   color: #2e3440;
}

#temperature,
#temperature.critical {
   background: #bf616a;
   border-radius: 10px;
   border: 3px solid #000000;
   margin: 4px 2px;
   padding: 4px 4px;
   color: #2e3440;
}

#battery {
   background: #73b580;
   border-radius: 10px;
   border: 3px solid #000000;
   margin: 4px 2px;
   padding: 4px 4px;
   color: #2e3440;
}

#tray {
   background: #d08770;
   border-radius: 10px;
   border: 3px solid #000000;
   margin: 4px 2px;
   padding: 4px 4px;
   color: #2e3440;
}

#workspaces {
   background: #5e81ac;
   border-radius: 10px;
   border: 3px solid #000000;
   margin: 4px 2px;
   padding: 0px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #2e3440;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #2e3440;
    color: #ffffff;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #bf616a;
    border: none;
}

#network {
    color: #2e3440;
    background: #73b580;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 4px 2px;
    padding: 4px 4px;
}

#clock {
    color: #2e3440;
    background: #bf616a;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 4px 2px;
    padding: 4px 4px;
}