.appbox {
  margin-top:    19rem;
  margin-right:  56rem;
  margin-left:   0rem;
  margin-bottom: 0rem;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 130px;
	min-height: 130px;
	min-width: 130px;
	margin: 11px 15px 4px 5px;
}


