.appbox {
  background-color: rgba(0, 0, 0, .0);
  margin-top:    32rem;
  margin-right:  0rem;
  margin-left:   -29rem;
  margin-bottom: 0rem;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 22px;
	min-height: 22px;
	min-width: 22px;
	margin: 12px 17px 0px 8px;
}


