.clock {
    margin-top:    -10rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   18rem;
    border-radius: 0rem;

}

.date-month {
    font-family: Patrick HandSC;
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 25rem;
    margin-right: -5rem;
    border-radius: 0rem;
}

.time {
    font-family: Patrick HandSC;
    color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-bottom: 0rem;
    margin-left: -3rem;
    margin-right: 0rem;
    border-radius: 0rem;
    
}