.control-center {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(30, 30, 46, .60);
}