.day-month-date {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 4px 2px #000000;
    border-radius: 1.4rem;
    margin-top:    -7rem;
    margin-right:  0rem;
    margin-left:   2.5rem;
    margin-bottom: 7rem;
}

.day-month-date-label {
    font-family: Gilroy ExtraBold;
    color: rgba(255, 255, 255, .75);
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 5rem;
    border-radius: 0rem;
}

.date-month-date-logo {
  color: rgba(255, 255, 255, .75);
  font-size: 3rem;
  margin-left: 1rem;
}