.day {
    background-color: rgba(#000, 0.0);
    margin-top:    -25rem;
    margin-right:  0rem;
    margin-left:   -25rem;
    margin-bottom: 0rem;

}

.day_label {
    font-family: Grand Hotel;
    color: rgba(255, 255, 255, .6);
    font-size: 12rem;
}