.line-box {
    margin-top:    6rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   -25rem;

}

.line {
    color: rgba(255, 255, 255, .8);
    font-size:     1rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   0rem;
    border-radius: 0rem;
}

.line2 {
    color: rgba(255, 255, 255, .6);
    font-size:     1.3rem;
    margin-top:    18rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   -21rem;
    border-radius: 0rem;
}

