.quick_settings_button {
    transition: 500ms;
    background-color: rgba(30, 30, 46, .60);
    border-radius: 1.5rem;
    padding: 0.75rem;
    font-size: 1.05rem;
}

.quick_settings_button:hover {
    background-color: #3A07A0;
}

.quick_settings_button_toggled {
    background-color: #7006AE;
    color: #ffffff;
}

.quick_settings_button_toggled:hover {
     background-color: #3A07A0;
}

.quick_settings_box {
    margin-top: 1rem;
}

.quick-settings-icon {
    font-size: 1.3rem;
}

.quick-settings-info {
    margin-left: 1rem;
}

.quick-settings-state {
    font-size: 0.9rem;
    color: #F8F6F0;
}

.quick-settings-state-enabled {
    color: #ffffff;
}

.left-top-plite {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.left-center-plite {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.left-bottom-plite {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
}

.right-top-plite {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.right-center-plite {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.right-bottom-plite {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
}