.recorder_menu_box {
    background-color: rgba(30, 30, 46, .60);
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
}

.recorder_menu_icon {
    color: #7006AE;
    font-size: 3rem;
}

.recorder_menu_label {
    font-size: 1.2rem;
}

.recorder_menu_checkbox_label {
    font-size: 1.15rem;
}
.recorder_menu_checkbox_box {
    margin-top: 0.25rem;
}
.recorder_menu_checkbox check {
    background-color: #ffffff;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 0.25rem;
}

.recorder_menu_checkbox check:checked {
    background-color: #ffffff;
    color: #3A07A0;
}

.record_menu_buttons {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.record_menu_button_cancel {
    border: 1px solid #3A07A0;
    border-radius: 1rem;
    min-width: 6rem;
}

.record_menu_button_start {
    border: 1px solid #3A07A0;
    border-radius: 1rem;
    min-width: 6rem;
}