.volume-osd {
   background-color: #ffffff;
   border-radius: 1rem;
   padding: 1rem;
   color: #ffffff;
   box-shadow: 0 0 4px 2px #000000;
   margin: 1rem;
   min-width: 25rem;
}

.volume-control-center {
    margin-top: 1rem;
}

.volume-scale trough {
    background-color: rgba(30, 30, 46, .70);
    border-radius: 1rem;
    min-height: 2.25rem;
}


.volume-scale trough highlight {
    background-image: linear-gradient(#8651BB, #DA025D);
    border-radius: 1rem;
    min-height: 2.25rem;
}

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: #ffffff;
    };

    &.more {
        color: #ffffff;
    };
}

.volume-mute {
    background-color: rgba(30, 30, 46, .70);
    color: #ffffff;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;

    &.active {
        background-image: linear-gradient(#8651BB, #DA025D);
        color: #ffffff;
    }

    &.active:hover {
        background-color: mix(#DA025D, #8651BB, 50%);
    }
}

.volume-mute:hover {
    background-color: mix(#DA025D, #8651BB, 50%);
}
