.weather {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 4px 2px #000000;
    border-radius: 1.4rem;
    margin-top:    3rem;
    margin-bottom: -3rem;
    margin-left:   -34.4rem;
    margin-right:  0rem;
}

.weather-logo {
    color: rgba(255, 255, 255, .75);
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.weather-icon {
    font-family: Gilroy ExtraBold;
    color: rgba(255, 255, 255, .75);
    font-size: 3.2rem;
    margin-left: 1rem;
}

.weather-temp {
    font-family: Gilroy ExtraBold;
    color: rgba(255, 255, 255, .75);
    font-size: 3rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.weather-error {
    font-family: Gilroy ExtraBold;
    font-size: 1.2rem;
}