.weather {
    background-color: rgba(0, 0, 0, .0);
    margin-bottom: 0rem;
    margin-top:    15rem;
    margin-left:   -21rem;
    margin-right:  0rem;
}

.weather-icon {
    color: #DA025D;
    font-size: 3.2rem;
    margin-left: 0rem;
}

.weather-temp {
    color: #8651BB;
    font-size: 3.2rem;
    margin-left: 2rem;
    margin-right: 0rem;
}

.weather-error {
    font-size: 1.2rem;
}