* {
    all: unset;
    font-family: JetBrainsMono;
    font-weight: bold;
}
@import "scripts/colors/colors.scss";
@import "scss/lib.scss";


@import "scss/control_center.scss";

@import "scss/clock.scss";
@import "scss/quick_settings.scss";
@import "scss/user.scss";
@import "scss/volume.scss";
@import "scss/weather.scss";
@import "scss/music.scss";
@import "scss/recorder_menu.scss";

