.clock {
    background-repeat: no-repeat;
    background-size: 210px;
    min-height: 200px;
    margin-top:    -120px;
    margin-right:  0px;
    margin-left:   10px;
    margin-bottom: 0px;
}

.time {
    font-family: Gilroy ExtraBold;
    color: rgba(0, 0, 0, .75);
    font-size: 1.3rem;
    margin-top: -8.5rem;
    margin-bottom: 0rem;
    margin-left: 8.5rem;
    margin-right: 0rem;
    border-radius: 0rem;
    
}

.day {
    font-family: Gilroy ExtraBold;
    color: rgba(255, 255, 255, .75);
    font-size: 3.2rem;
    margin-top: -8rem;
    margin-bottom: 0rem;
    margin-left: -21rem;
    margin-right: 0rem;
    border-radius: 0rem;
}

.date-month {
    color: rgba(255, 255, 255, .75);
    font-size: 1rem;
    margin-top: -5rem;
    margin-bottom: 0rem;
    margin-left: -7rem;
    margin-right: 0rem;
    border-radius: 0rem; 
}