.icons1 {
        background-repeat: no-repeat;
	background-size: 100px;
	min-height: 100px;
	min-width: 100px;
        margin-top:    30px;
        margin-right:  0px;
        margin-left:   10px;
        margin-bottom: 0px;
}


.icons2 {
      background-repeat: no-repeat;
	background-size: 107px;
        min-width:  107px;
        min-height: 230px;
        margin-top:    -100px;
        margin-right:  0px;
        margin-left:   230px;
        margin-bottom: 0px;
}

.icons3 {
        background-repeat: no-repeat;
	background-size: 100px;
	min-height: 100px;
	min-width: 100px;
        margin-top:    -80px;
        margin-right:  0px;
        margin-left:   10px;
        margin-bottom: 0px;
}

.icons4 {
        background-repeat: no-repeat;
	background-size: 101px;
        min-width: 101px;
        min-height: 101px;
        margin-top:    -120px;
        margin-right:  0px;
        margin-left:   10px;
        margin-bottom: 0px;
}

.icons5 {
    background-repeat: no-repeat;
    background-size: 210px;
    min-height: 210px;
    min-width: 210px;
    margin-top:    0px;
    margin-right:  0px;
    margin-left:   10px;
    margin-bottom: 0px;
}

.icons6 {
    background-repeat: no-repeat;
    background-size: 105px;
    min-height: 105px;
    min-width: 105px;
    margin-top:    -210px;
    margin-right:  0px;
    margin-left:   227px;
    margin-bottom: 0px;
}