.pbuttons-box {
    border-radius: 2rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: 0 0 4px 2px #000000;
    margin: 1rem;
    background-color: rgba(46, 52, 64, 1);
}

.powericon {
        background-repeat: no-repeat;
	background-size: 30px;
	min-height: 30px;
	min-width: 30px;
        margin-top:    0px;
        margin-right:  20px;
        margin-left:   20px;
        margin-bottom: 0px;
}

