.profile {
        background-repeat: no-repeat;
	background-size: 107px;
        min-width:  107px;
        min-height: 230px;
        margin-top:    -100px;
        margin-right:  0px;
        margin-left:   230px;
        margin-bottom: 0px;
}

.face {
	background-size: 70px;
	min-height: 70px;
	min-width: 70px;
	border-radius: 100%;
        margin-top:    25px;
        margin-right:  0px;
        margin-left:   -60px;
        margin-bottom: 0px;
}

.greetings {
	color: #bf616a;
	font-size : 15px;
	font-weight : bold;
        margin-top:     0rem;
        margin-bottom:  0rem;
        margin-left:    -4rem;
        margin-right:   0rem;
}

.name {
	color: #73b580;
	font-size : 13px;
	font-weight : bold;
        margin-top:     0rem;
        margin-bottom:  0rem;
        margin-left:    -4rem;
        margin-right:   0rem;
}