* {
    all: unset;
    font-family: JetBrainsMono;
    font-weight: bold;
}

@import "scss/control_center.scss";
@import "scss/user.scss";
@import "scss/quick_settings.scss";
@import "scss/volume.scss";
@import "scss/music.scss";



@import "scss/day.scss";
@import "scss/clock.scss";
@import "scss/month-date.scss";
@import "scss/musicinfo.scss";
@import "scss/profile.scss";
@import "scss/info.scss";
@import "scss/toggle.scss";


