.clock {
    margin-top:    18rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   -11.5rem;

}

.time {
    font-family: Quicksand Medium;
    color: rgba(255, 255, 255, 1);
    font-size:     1.5rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-left:   0rem;
    margin-right:  0rem;
    border-radius: 0rem;
}

