.day {
    margin-top:    0rem;
    margin-right:  0rem;
    margin-left:   75rem;
    margin-bottom: 0rem;

}

.day_label {
    font-family: Hoodson Script Free Demo;
    color: #fdc687;
    font-size: 7rem;
}