.month-date-box {
    margin-top:    -10rem;
    margin-bottom: 0rem;
    margin-right:  0rem;
    margin-left:   -13rem;

} 

.month {
    font-family: Quicksand;
    color: #fdc687;
    font-size:     2.8rem;
    margin-top:    21rem;
    margin-bottom: 0rem;
    margin-left:   0rem;
    margin-right:  0rem;
    border-radius: 0rem;
    
}

.date {
    font-family: Quicksand;
    color: #ffffff;
    font-size:     2.8rem;
    margin-top:    21rem;
    margin-bottom: 0rem;
    margin-left:   1rem;
    margin-right:  0rem;
    border-radius: 0rem;
    
}