.toggleicon {
    background-repeat: no-repeat;
	background-size: 35px;
	min-height: 35px;
	min-width: 35px;
        margin-top:    15px;
        margin-right:  20px;
        margin-left:   5px;
        margin-bottom: 0px;
}

