.weather {
}

.weather-icon {
    font-family: Gilroy ExtraBold;
    color: rgba(255, 255, 255, .75);
    font-size: 3rem;
    margin-left: 2rem;
    margin-bottom: 0rem;
}

.weather-temp {
    font-family: Gilroy ExtraBold;
    color: rgba(255, 255, 255, .75);
    font-size: 2.9rem;
    margin-left: 2.5rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.weather-error {
    font-family: Gilroy ExtraBold;
    font-size: 1.2rem;
}