* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 10px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

#battery,
#memory,
#cpu,
#temperature,
#disk,
#clock,
#workspaces,
#window,
#tray,
#pulseaudio,
#backlight,
#custom-power,
#workspaces  {
   color: @main-color;
   background-image: linear-gradient(45deg, #DA025D 50%, #A12C92 45%, #8651BB 60%);
   border-radius: 4px;
   margin: 4px 2px;
   padding: 4px 4px;
}

tooltip {
    background: @tool-bg;
    color: @tool-color;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #281e5d;
    color: #ffffff;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #db0018;
    border: none;
}

#workspaces {
    padding: 0px;
}

#window {
    color: #38ef7d; 
}

#cpu {
    color: #ffbf00;
}

#temperature {
    color: #ffffff;
}

#memory {
    color: #97f993;
}

#disk {
    color: #fff001;
}

#temperature.critical {
    color: #ff0000;
}

#pulseaudio {
    color: #fff001;
}

#backlight {
    color: #b3d648;
}

#battery {
    color: #73c2fb;
}

#custom-power {
   font-size: 14px;
   color: #000045;
}
