window {
    font-family: CaskaydiaCove Nerd Font, monospace;
    font-size: 12pt;
    color: #cdd6f4; 
    background-color: rgba(36, 41, 50, .9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    color: #fbf1c7;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(30, 30, 46, 0);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(30, 30, 46, 0.1);
}

#lock {
    background-image: image(url("/home/vivek/.config/wlogout/icons/lock.png"));
    background-size: 70%;
}
#lock:focus {
    background-image: image(url("/home/vivek/.config/wlogout/icons/lock-hover.png"));
}

#logout {
    background-image: image(url("/home/vivek/.config/wlogout/icons/logout.png"));
}
#logout:focus {
    background-image: image(url("/home/vivek/.config/wlogout/icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("/home/vivek/.config/wlogout/icons/sleep.png"));
} 
#suspend:focus {
    background-image: image(url("/home/vivek/.config/wlogout/icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("/home/vivek/.config/wlogout/icons/power.png"));
}
#shutdown:focus {
    background-image: image(url("/home/vivek/.config/wlogout/icons/power-hover.png"));
}

#reboot {
    background-image: image(url("/home/vivek/.config/wlogout/icons/restart.png"));
}
#reboot:focus {
    background-image: image(url("/home/vivek/.config/wlogout/icons/restart-hover.png"));
}