.clock {
    margin-top:    0rem;
    margin-bottom: 4rem;
    margin-right:  0rem;
    margin-left:   5rem;
    border-radius: 0rem;

}

.time {
    font-family: Bebas Neue Bold;
    color: rgba(255, 255, 255, .8);
    font-size:     4rem;
    margin-top:    0rem;
    margin-bottom: 0rem;
    margin-left:   0rem;
    margin-right:  0rem;
    border-radius: 0rem;
}

.month-date {
    font-family: Bebas Neue Book;
    color: rgba(255, 255, 255, 1);
    font-size:     2rem;
    margin-top:    5rem;
    margin-bottom: 0rem;
    margin-left:   -10rem;
    margin-right:  0rem;
    border-radius: 0rem;
}
