.control_center_icon {
    background-repeat: no-repeat;
	background-size: 160px;
	min-height: 160px;
	min-width: 160px;
        margin-top:    0px;
        margin-right:  0px;
        margin-left:   0px;
        margin-bottom: 0px;
}

