.day {
    margin-top:    0rem;
    margin-right:  0rem;
    margin-left:   28rem;
    margin-bottom: 2rem;

}

.day_label {
    font-family: Bebas Neue Bold;
    color: rgba(255, 255, 255, .75);
    font-size: 6.3rem;
}