.dockbox {
  background-image: linear-gradient(rgba(185, 92, 217, .65), rgba(71, 116, 191, .65));
  box-shadow: 0 0 4px 2px #000000;
  border-radius: 1.5rem;
  margin-top:    43rem;
  margin-right:  10rem;
  margin-left:   11rem;
  margin-bottom: 0rem;
}

.dockicon {
    background-repeat: no-repeat;
	background-size: 38px;
	min-height: 38px;
	min-width: 38px;
	margin: 20px 20px 20px 20px;
}


