.musicbox {
 background-color: rgba(30, 30, 45, .45); 
  margin-top: 10px;
  border-radius: 10px;
}

.music {
  border-radius: 50px;
  padding: 0px 11px;
  margin: 5px 0px;
  min-height: 30px;
  font-weight: 500;
}

.musicart {
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: unset;
}

.musiccontrols{
  min-width: 170px;
  padding: 5px 20px;
  border-radius: 20px;
}
.musicbutton{
  margin-top: 0px;
  font-size: 20px;
}
.musictitle{
  margin-top: 5px;
  font-size:15px;
  font-weight: 600;
}
.musicscale scale trough highlight {
  all: unset;
  background-color: #d6d6d6;
  color: white;
  border-radius: 10px;
  min-width: 10px;
}
.musicscale scale trough {
  all: unset;
  background-color: rgba(30, 30, 45, .45); 
  border-radius: 50px;
  min-height: 10px;
  min-width: 140px;
  margin: 0px 10px;
}
.musicscale label{
  font-size: 13px;
}