.quick-settings-icon {
    font-size: 0rem;
}

.quick-settings-info {
    margin-bottom: 5rem;
    margin-left: 4.4rem;
    font-size: .9rem;
    color: #d2c3ca;
}

.quick-settings-state {
    font-size: 0rem;
}