.volume-osd {
   border-radius: 1rem;
   padding: 1rem;
   color: #000000;
   box-shadow: 0 0 4px 2px #000000;
   margin: 1rem;
   min-width: 25rem;
}

.volume-control-center {
        margin-top:    10px;
        margin-right:  0px;
        margin-left:   0px;
        margin-bottom: 0px;
}

.volume-scale trough {
    background-color: rgba(30, 30, 45, .45);
    border-radius: 1rem;
    min-height: 2.25rem;
}


.volume-scale trough highlight {
    background-color: #ffffff;
    border-radius: 1rem;
    min-height: 2.25rem;
}

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: #0079fe;
    };

    &.more {
        color: #0079fe;
    };
}