.weather {
    background-color: rgba(30, 30, 45, .45); 
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top:    10px;
    margin-left:   0px;
    margin-right:  0px;
}

.weather-icon {
    color: #0079FE;
    font-size: 4rem;
    margin-left: 2rem;
}

.weather-temp {
    color: #FFFFFF;
    font-size: 2.8rem;
    margin-left: 4rem;
    margin-right: 0rem;
}

.weather-error {
    font-size: 1.2rem;
}